{% include 'header.html.twig' %}
<body>
{% include 'menu.html.twig' %}
<h1>Transaction history</h1>
<table border="0">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Action</th>
        <th>Amount</th>
        <th>Symbol</th>
        <th>USD</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            <td>{{ record.getTimestamp() }}</td>
            <td>{{ record.getAct() }}</td>
            <td>{{ record.getAmount()|number_format(8, '.', '') }}</td>
            <td>{{ record.getSymbol() }}</td>
            <td>{{ record.getLocalCurrency()|number_format(2, '.', '') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>