{% include 'header.html.twig' %}
<body>
{% include 'menu.html.twig' %}
<h1>Transaction history</h1>
<table class="styled-table">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Action</th>
        <th>Amount</th>
        <th>Symbol</th>
        <th>USD</th>
    </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            <td>{{ record.timestamp }}</td>
            <td>{{ record.act }}</td>
            <td>{{ record.amount|number_format(8, '.', '') }}</td>
            <td>{{ record.symbol }}</td>
            <td>{{ record.localCurrency|number_format(2, '.', '') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>